* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.container {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.titulo2 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 90px;
  font-family: 'Bebas Neue', cursive;
}

header {
  width: 100%;
  height: 600px;
  background: #c5111123;
  background: -webkit-linear-gradient(to right, hsla(216, 90%, 16%, 0.507), hsla(0, 0%, 0%, 0.227));
  background: linear-gradient(to right, hsla(216, 90%, 16%, 0.507), hsla(0, 0%, 0%, 0.227));
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


.logo img {
  margin-top: -625px;
  margin-left: 1525px;
  position: absolute;
  width: 100px;
  height: 100px;
}
/*Carusel*/

.carusel{
  margin: auto;
  width: 100%;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 600px;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
    
}

ul.slider li img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  background-color: grey;
  padding: 5px;
  width: 5px;
  height: 10px;
  border-radius: 100%;
}

/*Barra de navegación*/

.nav {
  position: absolute;
  margin-top: -625px;
  margin-left: 20px;
  width: 5%;
  height: 50px;
  display: inline-block;
  padding: 1px 5px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.topnav a {
  color: #f2f2f2;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav:hover {
  background: #ff0000bf;
  box-shadow: 0 0 10px #ff0000bf, 0 0 20px #ff0000bf, 0 0 80px #ff0000bf;
  transition-delay: 1s;
}

.nav span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #7b0101);
}

.nav:hover #span1 {
  left: 100%;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #7b0101);
}

.nav:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #7b0101);
}

.nav:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #7b0101);
}

.nav:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.nav2 {
  position: absolute;
  margin-top: -625px;
  margin-left: 100px;
  width: 8%;
  height: 50px;
  display: inline-block;
  padding: 15px 5px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.topnav2 a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav2:hover {
  background: #ff0000bf;
  box-shadow: 0 0 10px #ff0000bf, 0 0 20px #ff0000bf, 0 0 80px #ff0000bf;
  transition-delay: 1s;
}

.nav2 span {
  position: absolute;
  display: block;
}

#span4 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #7b0101);
}

.nav2:hover #span4 {
  left: 100%;
  transition: 1s;
}

#span6 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #7b0101);
}

.nav2:hover #span6 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span5 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #7b0101);
}

.nav2:hover #span5 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span7 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #7b0101);
}

.nav2:hover #span7 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.nav3 {
  position: absolute;
  margin-top: -625px;
  margin-left: 235px;
  width: 6%;
  display: inline-block;
  padding: 15px 5px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.topnav3 a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav3:hover {
  background: #ff0000bf;
  box-shadow: 0 0 10px #ff0000bf, 0 0 20px #ff0000bf, 0 0 80px #ff0000bf;
  transition-delay: 1s;
}

.nav3 span {
  position: absolute;
  display: block;
}

#span8 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #7b0101);
}

.nav3:hover #span8 {
  left: 100%;
  transition: 1s;
}

#span9 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #7b0101);
}

.nav3:hover #span9 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span10 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #7b0101);
}

.nav3:hover #span10 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span11 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #7b0101);
}

.nav3:hover #span11 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

header .text-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-header h1 {
  font-size: 50px;
  color: white;
}


/*Intro*/
.container-intro {
  display: flex;
  justify-content: space-evenly;
}

.img-intro {
  width: 48%;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(230, 0, 0, 0.412);
}

.intro .container-text {
  width: 48%;
}

/*Sipnosis*/
.container-sipnosis {
  display: flex;
  justify-content: space-evenly;
}

.container-sipnosis h3{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Roboto Condensed', sans-serif;
}

.img-sipnosis {
  width: 48%;
}

.sipnosis .container-text {
  width: 48%;
}

.container-text p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
  color: white;
}
/*Trailer*/
.container-trailer {
  margin-left: 300px;
  margin-right: 300px;
  margin-top:40px;
  margin-bottom:40px;
  align-items: center;
  justify-content: center;
}
.trailer3 {
  margin-left: 250px;
  margin-top: 5px;
}


/*Authors*/


.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(230, 0, 0, 0.548);
}

.caja {
  padding: 0 16px;
  color: white;
  width: 800px;
}

.caja::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container-authors h4{
  color: white;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 5px;
  text-align: left;
  margin-bottom: 60px;
  font-family: 'Roboto Condensed', sans-serif;
}
.container-authors p{
  color: white;
  margin-top: -25px;
  font-size: 16px;
  
}





/*Parte1*/

.galeria-titulo img{
   margin-top: 0px;
   width:100%;
   height: 250px;
}
.galeria-titulo h2{
  color: rgb(0, 0, 0);
  font-size: 60px;
  text-align: center;
  margin-top: -200px;
  margin-left: 660px;
  position: absolute;
  font-family: 'Bebas Neue', cursive;
}

.galeria-titulo h3{
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  margin-top: -125px;
  margin-left: 750px;
  position: absolute;
  margin-bottom: 60px;
  font-family: 'Roboto Condensed', sans-serif;
}

/*Info galeria personajes*/
.titulo-personajes {
  color: rgb(255, 255, 255);
  font-size: 90px;
  text-align: center;
  margin-bottom: 90px;
  font-family: 'Bebas Neue', cursive;
  margin-top: -200px;
}

.tarjetas{
  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  margin-bottom: 20px;
  justify-content: left;
  align-items: center;
}

.tarjetas .tarjeta{
  background: #7b0101;
  display: flex;
  width: 35%;
  height: 120px;
  align-items: center;
  justify-content: left;
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.6);
}

.tarjetas .tarjeta img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  margin-left: 10px;
}

.tarjetas .tarjeta h4{
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.tarjetas .tarjeta > .contenido-texto-card{
  padding: 15px;
  font-size: 12px;
  color: white;
  text-align: left;
}

.tarjetas-delado{
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  margin-bottom: 20px;
  justify-content: right;
  align-items: center;
}

.tarjetas-delado .tarjeta{
  background: #7b0101;
  display: flex;
  width: 36%;
  height: 120px;
  align-items: center;
  justify-content: right;
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.6);
}

.tarjetas-delado .tarjeta img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}

.tarjetas-delado .tarjeta h4{
  font-size: 20px;
  text-align: right;
  margin-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.tarjetas-delado .tarjeta > .contenido-texto-card{
  padding: 15px;
  font-size: 12px;
  color: white;
  text-align: right;
}

.container-text h2{
  padding: 0px 0px 20px 15px;
  font-weight: 300;
  text-align: justify;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.img-personaje {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(230, 0, 0, 0.412);
  margin: 50px;
}

.container-personajes {
  margin-left: 300px;
  margin-right: 300px;
  margin-top:300px;
  height: auto;
}

/*Galeria personajes*/
.tablink {
  margin-top: -3px;
  background-color: rgb(68, 11, 11);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: rgb(158, 122, 122);
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: rgb(61, 4, 4);}
#News {background-color: rgb(61, 4, 4);}
#Contact {background-color: rgb(61, 4, 4);}
#About {background-color: rgb(61, 4, 4)e;}

/*footer*/
footer {
  background: #41010150;
  padding: 15px 0 15px 0;
  margin-top: 0px;
  overflow: hidden;
}

footer h2 {
  text-align: center;
  font-size: 15px;
  margin: 10px 0 0 0;
  color: #939393;
}
